[submodule "bundle/evil-rebellion"]
	path = bundle/evil-rebellion
	url = https://github.com/tarleb/evil-rebellion
[submodule "evil-tabs"]
	path = evil-tabs
	url = https://github.com/alex-fedorov/evil-tabs
